@media only screen and (max-width: 1350px) {

	.header-site .col-2 .inner-col-3 .dropdown-block-wrapp {
	    margin: 0 0 0 2%;
	}

}

@media only screen and (max-width: 1280px) {

	.two-cols-templ .col-1.sidebar {
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	.main-nav li {
		padding: 10px 6px;
	}

	.two-cols-templ .col-2 {
		width: calc(100% - 79px);
	}

}
