@media only screen and (max-width: 1350px) {

	.main-nav li {
	    padding: 10px 6px;
	}

}


@media only screen and (max-width: 1200px) {

	.two-cols-templ .col-1.sidebar {
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	.main-nav li {
		padding: 10px 6px;
	}

	.two-cols-templ .col-2 {
		width: calc(100% - 79px);
	}

}


@media only screen and (min-width: 1201px) {



}