@charset "utf-8";

/*------------------*/
/*-- Fonts --*/
/*------------------*/

@font-face {
    font-family: "SF UI Display";
    src: url("../fonts/SFUIDisplay-Medium.eot");
    src: url("../fonts/SFUIDisplay-Medium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/SFUIDisplay-Medium.woff2") format("woff2"),
        url("../fonts/SFUIDisplay-Medium.woff") format("woff"),
        url("../fonts/SFUIDisplay-Medium.ttf") format("truetype"),
        url("../fonts/SFUIDisplay-Medium.svg#../fonts/SFUIDisplay-Medium") format("svg");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "SF UI Display";
    src: url("../fonts/SFUIDisplay-Bold.eot");
    src: url("../fonts/SFUIDisplay-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/SFUIDisplay-Bold.woff2") format("woff2"),
        url("../fonts/SFUIDisplay-Bold.woff") format("woff"),
        url("../fonts/SFUIDisplay-Bold.ttf") format("truetype"),
        url("../fonts/SFUIDisplay-Bold.svg#../fonts/SFUIDisplay-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "SF UI Display";
    src: url("../fonts/SFUIDisplay-Regular.eot");
    src: url("../fonts/SFUIDisplay-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/SFUIDisplay-Regular.woff2") format("woff2"),
        url("../fonts/SFUIDisplay-Regular.woff") format("woff"),
        url("../fonts/SFUIDisplay-Regular.ttf") format("truetype"),
        url("../fonts/SFUIDisplay-Regular.svg#../fonts/SFUIDisplay-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}


/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    color: #000000;
    font-size: 13px;
    line-height: 21px;
}


html,
body {
    min-height: 100%;
    min-width: 100%;
}

body {
    background: #eef1f9;
}

.wrapper {
    width: 100%;
    /*min-width: 1000px;*/
    /*min-width: 1200px;*/
    min-width: 1182px;
    position: relative;
    min-height: 100vh;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
}

header {
    order: 1;
    -webkit-order: 1;
}

.content {
    order: 2;
    -webkit-order: 2;
    flex-grow: 1;
    -webkit-flex-grow: 1;
}

footer {
    order: 3;
    -webkit-order: 3;
    position: relative;
    z-index: 3;
}

.clearfix:after {
    content: ""; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

* html .clearfix {height: 1%;}
.clearfix {display: block;}

* html .clearfix             { zoom: 1; }
*:first-child+html .clearfix { zoom: 1; }



::-webkit-input-placeholder {color:#a5abb8;}
::-moz-placeholder          {color:#a5abb8;}
:-moz-placeholder           {color:#a5abb8;}
:-ms-input-placeholder      {color:#a5abb8;}

input,
textarea,
button,
select,
a,
img {
    outline: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance;
    text-indent: 0.01px;
    text-overflow: "";
}

*::-ms-expand { display: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input {
    -webkit-appearance: none;
    -moz-appearance
}

button {
    -webkit-appearance: none;
    -moz-appearance
}

textarea {
    resize: none;
    overflow: auto;
    -webkit-appearance: none;
    -moz-appearance;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

.animation-delay-onload {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}

.animation-delay {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
    animation-delay: .3s;
}

/*-------------------------------------------*/
/* ----- DEFAULT STYLES ------ */
/*-------------------------------------------*/

section {
    position: relative;
    padding: 10px 0;
}

h1 {
    font-family: "SF UI Display", Arial, Verdana, sans-serif;
    font-size: 20px;
    line-height: 50px;
    font-weight: bold;
    color: #333333;
}

h2 {
    font-family: "SF UI Display", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
    color: #343434;
}

h3 {
    font-family: "SF UI Display", Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 36px;
    font-weight: bold;
    color: #333333;
}

p {

}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    outline: none;
    border: 1px solid transparent;
    border: none;
}

button:hover,
button:active,
a:hover,
a:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

.row {
    padding: 0;
    /*max-width: 1320px;*/
    /*min-width: 1000px;*/
    margin: 0 auto;
}

.offset-ziro {
    font-size: 0;
    line-height: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.align-center {
    text-align: center;
}

/*-- Icons --*/

.user {
    display: inline-block;
    vertical-align: top;
    width: 18px;
    height: 17px;
    background-image: url(../img/user.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.skype {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    background-image: url(../img/skype.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.telegram {
    display: inline-block;
    vertical-align: top;
    width: 22px;
    height: 22px;
    background-image: url(../img/telegram.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.mail {
    display: inline-block;
    vertical-align: top;
    width: 19px;
    height: 12px;
    background-image: url(../img/mail.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.duble-bubble {
    display: inline-block;
    vertical-align: top;
    width: 22px;
    height: 20px;
    background-image: url(../img/duble_bubble.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.bell {
    display: inline-block;
    vertical-align: top;
    width: 18px;
    height: 19px;
    background-image: url(../img/bell.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.doc {
    display: inline-block;
    vertical-align: top;
    width: 17px;
    height: 18px;
    background-image: url(../img/doc.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.pro {
    display: inline-block;
    vertical-align: top;
    background: #ff3700;
    padding: 0 6px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-transform: uppercase;
    font-family: "SF UI Display", Arial, Verdana, sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
}

.pro:after {
    content: "Pro";
}

.user-small {
    display: inline-block;
    vertical-align: top;
    width: 12px;
    height: 12px;
    background-image: url(../img/user.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.many {
    display: inline-block;
    vertical-align: top;
    width: 12px;
    height: 12px;
    background-image: url(../img/many.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.out {
    display: inline-block;
    vertical-align: top;
    width: 13px;
    height: 13px;
    background-image: url(../img/out.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.icon-1 {
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 16px;
    background-image: url(../img/icon_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.icon-2 {
    display: inline-block;
    vertical-align: top;
    width: 15px;
    height: 15px;
    background-image: url(../img/icon_2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.icon-3 {
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 14px;
    background-image: url(../img/icon_3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.icon-4 {
    display: inline-block;
    vertical-align: top;
    width: 15px;
    height: 13px;
    background-image: url(../img/icon_4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.icon-5 {
    display: inline-block;
    vertical-align: top;
    width: 22px;
    height: 13px;
    background-image: url(../img/icon_5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.icon-6 {
    display: inline-block;
    vertical-align: top;
    width: 14px;
    height: 16px;
    background-image: url(../img/icon_6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.icon-7 {
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 16px;
    background-image: url(../img/icon_7.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.icon-8 {
    display: inline-block;
    vertical-align: top;
    width: 14px;
    height: 15px;
    background-image: url(../img/icon_8.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.icon-9 {
    display: inline-block;
    vertical-align: top;
    width: 18px;
    height: 15px;
    background-image: url(../img/icon_9.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.icon-10 {
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 16px;
    background-image: url(../img/icon_10.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.icon-11 {
    display: inline-block;
    vertical-align: top;
    width: 13px;
    height: 14px;
    background-image: url(../img/icon_11.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.icon-12 {
    display: inline-block;
    vertical-align: top;
    width: 15px;
    height: 15px;
    background-image: url(../img/icon_12.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.green-plus {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    text-align: center;
    background: #1fce6d;
    border: 1px solid transparent;    
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.green-plus:after {
    display: block;
    content: "\f067";
    font-family: 'FontAwesome';
    font-size: 11px;
    line-height: 20px;
    font-weight: bold;
    color: #ffffff;
}

.user-green {
    display: inline-block;
    vertical-align: top;
    width: 24px;
    height: 24px;
    background-image: url(../img/webmaster.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.plain {
    display: inline-block;
    vertical-align: top;
    width: 24px;
    height: 24px;
    background-image: url(../img/reclama.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.check {
    display: inline-block;
    vertical-align: top;
    width: 19px;
    height: 19px;
    background-image: url(../img/check.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.pencil {
    display: inline-block;
    vertical-align: top;
    width: 10px;
    height: 15px;
    background-image: url(../img/pencil.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

/*-- /Icons --*/

/*-- Links --*/

a.blue-link {
    display: inline-block;
    vertical-align: top;
    border-bottom: 1px solid rgba(55, 160, 227, .7);
    font-family: "SF UI Display", Arial, Verdana, sans-serif;
    font-size: 13px;
    line-height: 13px;
    font-weight: normal;
    color: #37a0e3;

    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

a.blue-link:link,
a.blue-link:visited {
    border-bottom: 1px solid rgba(55, 160, 227, .7);
}

a.blue-link:active,
a.blue-link.active {
    border-bottom: 1px solid rgba(55, 160, 227, .7);
}

a.blue-link:hover {
    border-bottom: 1px solid transparent;
}

/*-- /Links --*/

/*-- Buttons --*/

.blue-btn {
    /*display: block;*/
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    background: #37a0e3;
    margin: 3px 0;
    padding: 8px 12px;
    border: 1px solid transparent;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
    font-family: "SF UI Display", Arial, Verdana, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: #ffffff;
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.blue-btn:link,
.blue-btn:visited {
    background: #37a0e3;
}

.blue-btn:active,
.blue-btn.active {
    background: #4cb3f5;
}

.blue-btn:hover {
    background: #4cb3f5;
}

.blue-btn i {
    display: inline-block;
    vertical-align: top;
    margin: 0 12px 0 0;
}

.green-btn {
    /*display: block;*/
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    background: #38d07c;
    margin: 3px 0;
    padding: 8px 10px;
    border: 1px solid transparent;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
    font-family: "SF UI Display", Arial, Verdana, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: #ffffff;
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.green-btn:link,
.green-btn:visited {
    background: #38d07c;
}

.green-btn:active,
.green-btn.active {
    background: #43de88;
}

.green-btn:hover {
    background: #43de88;
}

.white-pill {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    background: #ffffff;
    padding: 2px 10px;
    border: 1px solid transparent;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
    font-family: "SF UI Display", Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: normal;
    color: #37a0e3;
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.white-pill:link,
.white-pill:visited {
    background: #ffffff;
    color: #37a0e3;
}

.white-pill:active,
.white-pill.active {
    background: #37a0e3;
    color: #ffffff;
}

.white-pill:hover {
    background: #37a0e3;
    color: #ffffff;
}

.white-pill i {
    vertical-align: middle;
    margin: 0 5px 0 0;
}

.modif-btn {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    background: #ffffff;
    padding: 2px 10px;
    border: 1px solid transparent;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
    font-family: "SF UI Display", Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: normal;
    color: #37a0e3;
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.modif-btn:link,
.modif-btn:visited {
    background: #ffffff;
    color: #37a0e3;
}

.modif-btn:active,
.modif-btn.active {
    background: #37a0e3;
    color: #ffffff;
}

.modif-btn:hover {
    background: #37a0e3;
    color: #ffffff;
}

.modif-btn:before {
    display: inline-block;
    vertical-align: top;
    margin: 3px 5px 0 0;
    content: "";
    width: 10px;
    height: 15px;
    background-image: url(../img/pencil.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.modif-btn:hover:before {
    background-image: url(../img/pencil_white.png);
}

/*-- /Buttons --*/

/*-------------------------------------------*/
/* ----- HEADER ------ */
/*-------------------------------------------*/

header {

}

.header-site {
    background: rgb(52, 73, 94);
    position: relative;
    z-index: 3;
}

.header-site .col {
    padding-top: 11px;
    padding-bottom: 7px;
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.header-site.animation_none .col {
    transition: none;
}

.header-site .col-1 {
    width: 284px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(43, 55, 67);
}

.header-site .col-2 {
    width: 100%;
    padding-left: 284px;
    padding-right: 10px;
}

.header-site.resp-width .col-1 {
    width: 76px;
    padding: 0;
}

.header-site.resp-width .col-2 {
    padding-left: 76px;
}

.header-site.resp-width .respmenubtn {
    margin-left: 7%;
}

.logo {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.logo span {
    display: block;
    width: auto;
    height: auto;
    white-space: nowrap;
    width: 177px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.logo span img {
    height: auto;
}

.logo span img.logo-desc {
    width: 27px;
}

.logo span img.logo-txt {
    width: 139px;
    position: absolute;
    top: 6px;
    left: 37px;
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.resp-width .logo span {
    width: 27px;
}

.resp-width .logo span img.logo-txt {
    top: -200px;
}

.header-site .col-2 .inner-col {
    padding: 10px 1%;
}

.header-site .col-2 .inner-col-1 {
    width: 9%;
}

.header-site .col-2 .inner-col-2 {
    width: 26%;
    padding-top: 14px;
}

.header-site .col-2 .inner-col-3 {
    width: 65%;
    text-align: right;
}

/* ----- Responsive Menu Button ------ */

.respmenubtn {
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    height: 23px;
    margin: 7px 0 0 9%;
    padding: 3px 0 0 0;
    border: 1px solid transparent;
    background: transparent;
    cursor: pointer;
    z-index: 2;
}

.respmenubtn.active {
    padding: 0;
}

.respmenubtn span {
    display: block;
    width: 24px;
    height: 2px;
    background: #5b7a99;
    margin: 0 auto 4px auto;

    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.respmenubtn span:last-child {
    width: 18px;
    float: right;
}

.respmenubtn:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

.respmenubtn:hover span {
    background: #ffffff;
}

.respmenubtn.active span {
    position: relative;
    width: 28px;
    top: -1px;
    left: 0;
    background: #ffffff;
}

.respmenubtn.active span:last-child {
    display: none;
}

.respmenubtn.active span:first-child {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 3px 0 0 0;
    position: relative;
    top: 1px;
    left: 0px;
}

.respmenubtn.active span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* ----- / Responsive Menu Button ------ */

.dropdown-block-wrapp {
    display: inline-block;
    vertical-align: sub;
    margin: 0 3% 0 0;
    position: relative;
    cursor: pointer;
    text-align: left;
}

.header-site .col-2 .inner-col-3 .dropdown-block-wrapp {
    margin: 0 0 0 4%;
    padding: 0 8px 0 0;
}

.dropdown-header p {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    font-family: "SF UI Display", Arial, Verdana, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: #8c9fb2;
}

.dropdown-header i {
    display: inline-block;
    vertical-align: baseline;
    margin: 0 10px 0 0;
}

.dropdown-header span.title {
    display: inline-block;
    vertical-align: baseline;
    padding: 0 3% 0 0;
    color: #8c9fb2;
}

.dropdown-header a {
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-family: "SF UI Display", Arial, Verdana, sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    color: #ffffff;
}

a.dropdown-link .link-txt {
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

a.dropdown-link:link .link-txt,
a.dropdown-link:visited .link-txt {
    color: #ffffff;
}

.dropdown-block-wrapp.active.link-txt {
    color: #7992ac;
}

a.dropdown-link:active .link-txt {
    color: #7992ac;
}

a.dropdown-link:hover .link-txt {
    color: #7992ac;
}

a.dropdown-link .chevron {
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    right: -8px;
    margin: -8px 0 0 0;
    opacity: .7;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.chevron:after {
    display: block;
    content: "\f107";
    font-family: 'FontAwesome';
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    color: #ffffff;
}

.dropdown-block-wrapp:hover .chevron {
    opacity: 1;
}

.dropdown-block-wrapp.active .chevron {
    opacity: 1;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.manager a.dropdown-link .chevron {
    margin: -4px 0 0 0;
}

.dropdown-block {
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.dropdown-block.w-284 {
    width: 284px;
}

.dropdown-block .inner {
    width: 100%;
    padding: 8px 0 13px 0;
    background: #ffffff;
    border-top: 3px solid #2ecc71;
    -webkit-box-shadow: 0 2px 29px 0 rgba(36, 41, 48, .29);
    -moz-box-shadow: 0 2px 29px 0 rgba(36, 41, 48, .29);
    box-shadow: 0 2px 29px 0 rgba(36, 41, 48, .29);
}

.dropdown-list {
    padding: 8px 0 4px 0;
}

.dropdown-list li {
    display: table;
    width: 100%;
    padding: 4px 4% 4px 6%;
}

.dropdown-list li p {
    display: table-cell;
    vertical-align: middle;
    width: auto;
    font-family: "SF UI Display", Arial, Verdana, sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    color: #373737;
}

.dropdown-list li p:nth-child(1) {
    width: 30px;
}

.dropdown-list li i {
    display: inline-block;
    vertical-align: top;
}

.dropdown-list li a {
    display: inline-block;
    vertical-align: top;
    font-family: "SF UI Display", Arial, Verdana, sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    color: #373737;
}

.dropdown-link p {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0 11px 0 0;
    font-family: "SF UI Display", Arial, Verdana, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: #ffffff;
}

.count {
    display: inline-block;
    vertical-align: top;
    min-width: 17px;
    min-height: 17px;
    background: #e74c3c;
    text-align: center;
    padding: 2px;
    font-family: "SF UI Display", Arial, Verdana, sans-serif;
    font-size: 10px;
    line-height: 15px;
    font-weight: normal;
    color: #ffffff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.count.red {
    background: #e74c3c;
}

.count.orange {
    background: #f28b1c;
}

.icon-box {
    display: inline-block !important;
    vertical-align: top;
    position: relative;
}

.dropdown-link p.icon-box {
    margin: 0;
}

p.icon-box .count {
    position: absolute;
    top: -12px;
    right: -3px;
}

.news-list {
    cursor: default;
}

.news-list li {
    display: table;
    width: 100%;
    border-collapse: collapse;
    position: relative;
    border-bottom: 1px solid #dee1e8;
}

.news-list li:before {
    display: table-cell;
    vertical-align: top;
    overflow: hidden;
    width: 27px;
    min-height: 10px;
}

.news-list li:after {
    display: block;
    content: "";
    width: 7px;
    height: 7px;
    position: absolute;
    top: 19px;
    left: 10px;
    background: #2ecc71;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.news-list .news {
    display: table-cell;
    vertical-align: top;
    width: auto;
    padding: 13px 6% 6px 27px;
}

.news-list li:nth-child(1) .news {
    padding-top: 7px;
}

.news-list li:nth-child(1):after {
    top: 13px;
}

.news-list .news h3 {
    font-family: "SF UI Display", Arial, Verdana, sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
    color: #333333;
}

.news-list .news p {
    font-family: "SF UI Display", Arial, Verdana, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #555555;
    padding: 2px 0 3px 0;
}

.news-list .news p.date {
    font-family: "SF UI Display", Arial, Verdana, sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    color: #bababa;
}

.dropdown-block .more-link-box {
    padding-top: 13px;
}

a.user-acc {
    display: block;
}

a.user-acc .chevron {
    margin: -6px 0 0 0;
}

a.user-acc p {
    display: inline-block;
    vertical-align: middle;
    padding: 0 2px;
    font-family: "SF UI Display", Arial, Verdana, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: #ffffff;
}

a.user-acc .img-box {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    overflow: hidden;
    background: #aeaeae;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

a.user-acc .img-box img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
}

.us-photo {
    display: inline-block;
    vertical-align: middle;
    min-width: 66px;
}

.us-photo .pro {
    position: absolute;
    top: 12px;
    left: 30px;
}

.user-list {

}

.user-list li {
    
}

.user-list li a {
    display: block;
    padding: 0 3% 0 12%;
    background: transparent;
    font-family: "SF UI Display", Arial, Verdana, sans-serif;
    font-size: 14px;
    line-height: 29px;
    font-weight: normal;
    color: #555555;
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.user-list li a:link,
.user-list li a:visited {
    background: transparent;
}

.user-list li a:active,
.user-list li a.active {
    background: #eef1f8;
}

.user-list li a:hover {
    background: #eef1f8;
}

.user-list li a i {
    vertical-align: middle;
    margin: 0 7% 0 0;
    position: relative;
    top: -2px;
}

/*-------------------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/

.two-cols-templ {
    position: relative;
}

.two-cols-templ .col-1 {
    /*width: 18%;*/
    width: 285px;
    position: relative;
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.sidebar {
    overflow: hidden;
    background: #34495e;
    z-index: 2;
}

.sidebar .inner-wrapp {
    width: 285px;
}

.sidebar.hidden {
    width: 76px;
}

.two-cols-templ .col-2 {
    padding: 20px 1.5%;
    width: calc(100% - 285px);
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.two-cols-templ .col-1.animation_none {
    transition: none;
}

.two-cols-templ .col-2.animation_none {
    transition: none;
}

.main_content.fullwidth {
    width: calc(100% - 79px);
}

.resp-tooltip {    
    display: inline-block;
    vertical-align: top;
    padding: 6px 10px;
    position: absolute;
    top: 300px;
    left: -100vw;
    z-index: 4;
    opacity: 0;
    text-align: center;
    background: #191b1d;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-family: "SF UI Display", Arial, Verdana, sans-serif;
    font-size: 12px;
    line-height: 17px;
    font-weight: normal;
    color: #ffffff;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: .4s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .4s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .4s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .4s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .4s;
    transition-timing-function: ease;
}

.resp-tooltip:before {
    display: inline-block;
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: -4px;
    margin: -3px 0 0 0;
    border-style: solid;
    border-width: 3px 4px 3px 0;
    border-color: transparent #191b1d transparent transparent;
}

.sidebar-item {
    margin: 0 0 10px 0;
}

.menu-dropdown-item {
    position: relative;
}

.menu-dropdown-item:before {
    display: block;
    content: "";
    width: 3px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: transparent;
}

.menu-dropdown-item.active {
    background: #34495e;
}

.menu-dropdown-item.active:before {
    background: #2ecc71;
}

.menu-item-header {
    display: block;
    padding: 22px 1% 23px 10%;
    position: relative;
    background: #2f3f4e;
    text-transform: uppercase;
    font-family: "SF UI Display", Arial, Verdana, sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 500;
    color: #2ecc71;
}

.menu-dropdown-item.active .menu-item-header {
    background: #34495e;
}

.menu-item-header:after {
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    right: 9%;
    margin: -4px 0 0 0;
    opacity: .7;
    content: "\f107";
    font-family: 'FontAwesome';
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    color: #ffffff;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.menu-item-header:link:after,
.menu-item-header:visited:after {
    opacity: .7;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
}

.menu-item-header i {
    display: none;
}

.sidebar.hidden .menu-item-header i {
    display: block;
}

.menu-dropdown-item.active .menu-item-header:after {
    opacity: 1;
    margin: 0;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.sidebar.hidden .menu-item-header .link-txt {
    display: none;
}

.sidebar-item-menu {
    padding: 0 1% 0px 10%;
}

.sidebar-item-menu.single {
    padding: 10px 1% 0 10%;
}

.sidebar-menu-list li {
    padding: 10px 0;
}

.sidebar-menu-list li .icon-block {
    display: inline-block;
    vertical-align: baseline;
    width: 35px;
}

.sidebar-menu-list li a {
    display: block;
    font-family: "SF UI Display", Arial, Verdana, sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    color: #c1ccd7;

    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.sidebar-menu-list li a:link,
.sidebar-menu-list li a:visited {
    color: #c1ccd7;
}

.sidebar-menu-list li a:active,
.sidebar-menu-list li a.active {
    color: #606f7f;
}

.sidebar-menu-list li a:hover {
    color: #606f7f;
}

.sidebar-menu-list li a i {
    opacity: 1;

    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.sidebar-menu-list li a:link i,
.sidebar-menu-list li a:visited i {
    opacity: 1;
}

.sidebar-menu-list li a:active i,
.sidebar-menu-list li a.active i {
    opacity: .75
}

.sidebar-menu-list li a:hover i {
    opacity: .75;
}

.sidebar.hidden .link-txt {
    display: none;
}

.sidebar.hidden .resp-none {
    display: none;
}

.balance-item {
    background: #2f3f4e;
    position: relative;
    z-index: 3;
    margin: 21px 0 0 0;
    padding: 9px 20% 19px 1%;
}

.balance-item:before {
    display: block;
    content: "";
    width: 12%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -12%;
    background: #2f3f4e;
}

.balance-block {
    position: relative;
    padding: 0;
}

.balance-item p.p-1 {
    padding: 9px 0;
    font-family: "SF UI Display", Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 22px;
    font-weight: normal;
    color: #ffffff;
}

.balance-block .green-plus {
    position: absolute;
    top: 50%;
    right: -20px;
    margin: -10px 0 0 0;
}

.balance-item .blue-link {
    display: inline-block;
    vertical-align: top;
    margin: 12px 0;
}

.balance-item .buttons-block a {
    display: block;
    width: 48%;
}

.balance-item .buttons-block a:nth-child(odd) {
    float: left;
}

.balance-item .buttons-block a:nth-child(even) {
    float: right;
}

.sidebar-item p {
    font-family: "SF UI Display", Arial, Verdana, sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: normal;
    color: #ffffff;
}

.white-block {
    background: #ffffff;
    border-bottom: 3px solid #dbe2e9;
    padding: 0 0 20px 0;
}

.white-block-header {
    margin-bottom: 7px;
    padding: 13px 2.5%;
    border-bottom: 1px solid #e7e7e7;
}

.white-block-row {
    padding: 6px 2.5%;
    overflow: hidden;
}

.white-block-header .inner-col-1 {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}

.white-block-header .inner-col-2 {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    /*padding: 14px 0 0 0;*/
    text-align: right;
}

.white-block-header a,
.white-block-header button {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 0 5px 5%;
}

.white-block-inner {
    width: 104%;
    margin: 0 0 0 -2%;
}

.search-block {
    display: inline-block;
    vertical-align: top;
    margin: 0 2%;
    padding: 10px 0;
}

.search-block_3 input {
    width: 101px;
}

.search-block .search-col-1 {
    display: inline-block;
    vertical-align: top;
    width: auto;
    min-width: 82px;
    padding: 10px 10px 0 0;    
}

.search-block .search-col-2 {
    display: inline-block;
    vertical-align: top;
    width: auto;
    white-space: nowrap;
}

.search-block label {
    font-family: "SF UI Display", Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
    color: #333333;
}

.search-block input {
    height: 38px;
    margin: 5px;
    padding: 0 11px;
    border: 1px solid #dee1e8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-family: "SF UI Display", Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 37px;
    font-weight: 500;
    color: #333333;
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

input {
    display: block;
    height: 38px;
    margin: 5px 10px;
    padding: 0 11px;
    border: 1px solid #dee1e8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-family: "SF UI Display", Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 37px;
    font-weight: 500;
    color: #333333;
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

input:focus {
    border: 1px solid #a4a4a4;
}

.select-block {
    display: inline-block;
    vertical-align: top;
    min-width: 369px;
}

.search-block .select-block {
    vertical-align: middle;
    margin: 5px;
}

.search-block .green-btn {
    /*margin: 5px 10px;*/
    margin: 5px;
}

.modif-block {
    background: #f7f7f7;
    margin: 0 9px;
    padding: 0 5px;
}

.modif-block p {
    display: inline-block;
    vertical-align: middle;
    margin: 4px 9px;
    font-family: "SF UI Display", Arial, Verdana, sans-serif;
    font-size: 14px;
    line-height: 33px;
    font-weight: normal;
    color: #555555;
}

.modif-block button {
    vertical-align: middle;
    margin: 4px 9px;
}

.thumbnais-wrapp {
    overflow: hidden;
}

.thumbnais {
    width: 102%;
    margin: 0 0 0 -1%;
    /*text-align: center;*/
}

.thumbnail {
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    /*width: 25%;*/
    max-width: 244px;
    margin: 14px 1% 25px 1%;
    /*padding: 0 1%;*/
}

.thumbnail .inner {
    display: block;
    position: relative;
}

.thumbnail .img-box {
    height: 170px;
    overflow: hidden;
    position: relative;
    background: #ffffff;
    border: 1px solid #dddddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;    
    -webkit-box-shadow: 0 0 24px 0 rgba(26, 26, 26, .17);
    -moz-box-shadow: 0 0 24px 0 rgba(26, 26, 26, .17);
    box-shadow: 0 0 24px 0 rgba(26, 26, 26, .17);
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.thumbnail .inner:hover .img-box {
    -webkit-box-shadow: 0 0 24px 0 rgba(26, 26, 26, .43);
    -moz-box-shadow: 0 0 24px 0 rgba(26, 26, 26, .43);
    box-shadow: 0 0 24px 0 rgba(26, 26, 26, .43);
}

.thumbnail img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.thumbnail p.orange {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: 3px;
    right: 3px;
    z-index: 3;
    background: #ff3700;
    padding: 5px 8px;
    font-family: "SF UI Display", Arial, Verdana, sans-serif;
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    color: #ffffff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.thumbnail p {
    padding: 13px 0 6px 0;
    text-align: center;
    font-family: "SF UI Display", Arial, Verdana, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    color: #333333;
}

.thumbnail .mask {
    width: 100%;
    height: 170px;
    padding: 15px 9% 3px 9%;
    z-index: 2;
    background: rgba(29, 36, 37, .65);
    text-align: left;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: absolute;
    top: -100%;
    left: 0;
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.thumbnail:hover .mask {
    top: 0;
}

.thumbnail .mask p {
    display: block;
    max-height: 100px;
    overflow: hidden;
    margin: 13px 0 2px 0;
    text-align: left;
    font-family: "SF UI Display", Arial, Verdana, sans-serif;
    font-size: 12px;
    line-height: 20px;
    font-weight: normal;
    color: #ffffff;
}

.row-two-cols {

}

.row-two-cols .row-col-1 {
    width: 54%;
    padding-top: 21px;
}

.row-two-cols .row-col-2 {
    width: 46%;
    text-align: right;
}

/*-- Tabs --*/

.tabs-block {
    margin: 31px 0 0 0;
}

.main-content_inner {
    padding: 0 2.5%;
}

.tabs {
    margin: 15px 0 20px 0;
    border-bottom: 1px solid #e7e7e7;
}

.tabs-links {
    width: 100%;
    padding: 0 2.5%;
    border-bottom: 1px solid #e7e7e7;
    text-align: center;
    display: flex;
    display: -webkit-flex;

}

.tabs-links label {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    margin: 3px;
    padding: 15px 3px;
    position: relative;
    cursor: pointer;
    text-align: center;
    background: #f8f8f8;
    border: 1px solid #f8f8f8;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: "SF UI Display", Arial, Verdana, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #a7a7a7;
    -webkit-transition-property: border, background, color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border, background, color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border, background, color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border, background, color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border, background, color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.tabs-links label:hover {
    background: #ececec;
    border: 1px solid #ececec;
}

.tabs-links label.active {
    margin: 3px 3px 0 3px;
    background: #ffffff;
    border-top: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid transparent;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    border-bottom: none;
    color: #333333;
}

.tabs-links label:before {
    display: block;
    opacity: 0;
    content: "";
    width: 100%;
    height: 3px;
    background: #2ecc71;
    position: absolute;
    top: -5px;
    left: 0;
}

.tabs-links label:after {
    display: block;
    opacity: 0;
    content: "";
    width: 100%;
    height: 4px;
    background: #ffffff;
    position: absolute;
    bottom: -1px;
    left: 0;
}

.tabs-links label:before,
.tabs-links label:after {
    -webkit-transition-property: opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.tabs-links label.active:before,
.tabs-links label.active:after {
    opacity: 1;
}

.tab-wrapp {
    position: relative;
    padding: 0 2.5%;
}

.tab-wrapp .tab {
    display: none;
    padding: 20px 0;
}

.tab-wrapp .radio-tab:checked + .tab {
    display: block;
}

.tab-wrapp .radio-tab {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .01;
}

/*-- /Tabs --*/

.thumbnails_2 {
    border: 1px solid #e3e3e3;
    /*text-align: center;*/
    margin: 0 0 24px 0;
    padding: 44px 4% 20px 4%;
}

.thumbnail_2 {
    display: inline-block;
    vertical-align: top;
    width: 142px;
    margin: 20px 0;
    padding: 0 13px;
    text-align: center;
}

.thumbnail_2 .inner {

}

.thumbnail_2 .img-box {
    height: 114px;
    overflow: hidden;
    background: #f8f8f8;
    border: 5px solid #e3e3e3;
}

.thumbnail_2 .img-box p {
    text-align: center;
    font-family: Times New Roman, Arial, Verdana, sans-serif;
    font-size: 80px;
    line-height: 104px;
    font-weight: normal;
    color: #595959;
}

.thumbnail_2 p {
    padding: 3px 0;
    font-family: "SF UI Display", Arial, Verdana, sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: normal;
    color: #a7a7a7;
}

.thumbnail_2 p.p-1 {
    /*min-height: 45px;*/
    padding: 10px 0 3px 0;
    font-family: "SF UI Display", Arial, Verdana, sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
    color: #333333;
}

.thumbnail_2 p.price {
    padding: 3px 0;
    font-family: "SF UI Display", Arial, Verdana, sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
    color: #38d07c;
}


/*-------------------------------------------*/
/* ----- FOOTER ------ */
/*-------------------------------------------*/

footer {
/*    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;*/
}

.footer {
    background: #2b3743;
    padding: 17px 2% 12px 2%;
}

.footer .col {
    padding: 10px 0;
}

.footer .col-1 {
    width: 40%;
    padding-right: 1%;
}

.footer .col-2 {
    width: 60%;
    padding-left: 1%;
    text-align: right;
}

.footer p {
    font-family: "SF UI Display", Arial, Verdana, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: #697886;
}

.footer p a {
    display: inline-block;
    vertical-align: top;
    margin: 0 1.7%;
    font-family: "SF UI Display", Arial, Verdana, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: #1fce6d;
}